.bg1{
    background-image: url('ben10_home.jpeg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg2{
    background-image: url('option_page.jpeg');
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blur{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg11{
    background: linear-gradient( 135deg,
        #0a2e0a,
        #00c853,
        #7fffd4,
        #e6ffff);
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg12{
    background: linear-gradient( 135deg,
        #000814,
        #001d3d,
        #0077ff,
        #00f5ff
    );
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg13{
    background: linear-gradient(
        135deg,
        #1a1a1a,
        #4d4d4d,
        #ffd700,
        #fff4b3
    );
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container1{
    margin: 50px;
}
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-style: italic bold;
    color:rgb(255, 255, 255);
    font-size:50px;
    text-align: center;
    font-style: italic bold;
}
.para{
    font-family:'Times New Roman', 'Times', 'serif';
    color:rgb(232, 232, 232);
    font-style:bold;
    font-size: 24px;
    text-align: center;
}
.button{
    background-color: rgb(0, 0, 0, 0.5);
    color:rgb(10, 255, 10);
    border-radius: 50px;
    border:4px solid grey;
    font-size:45px;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 190px;;
}
.heading2_black{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-style: bold;
    font-style: italic;
    color:rgb(0, 0, 0);
    text-align: center;
    margin:20px;
    font-size: 50px;
}
.heading2_white{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-style: bold;
    font-style: italic;
    color:rgb(255, 255, 255);
    text-align: center;
    margin:20px;
    font-size: 50px;
}
.para2{
    font-family:'Times New Roman', 'Times', 'serif';
    color:rgb(255, 255, 255);
    font-style:bold;
    text-align: left;
    padding:20px;
}
.image{
    width:200px;
    height:200px;
    border-radius:10px;
    margin:20px;
    border:5px solid white;
}
.container11{
    background-color: rgba(22, 255, 26, 0.3);
    border-radius: 10px;
    width:800px;
    padding:10px;
    margin:10px;
}
.container12{
    background-color: rgba(255, 25, 224, 0.3);
    border-radius: 10px;
    width:800px;
    padding:10px;
    margin:10px;
}
.container13{
    background-color: rgba(184, 193, 192, 0.3);
    border-radius: 10px;
    width:800px;
    padding:10px;
    margin:10px;
}
.button1{
    background-color: rgba(0, 0, 0, 0.5);
    color:rgb(10, 255, 10);
    border-radius: 50px;
    border:4px solid rgb(255, 255, 255);
    font-size:30px;
    margin:20px;
}
.carousel{
    width:400px;
    height:400px;
}
.image1{
    width:350px;
    height:350px;
    border-radius:10px;
    margin:20px;
    border:5px solid white;
}
.para3{
    font-family:'Times New Roman', 'Times', 'serif';
    color:rgb(0, 0, 0);
    font-style:bold;
    text-align: left;
    padding:20px;
}
.container_diamondhead{
    background: linear-gradient(
        135deg,
        rgba(0, 51, 0, 0.5),
        rgba(0, 255, 102, 0.5),
        rgba(127, 255, 212, 0.5)
    );
    border-radius: 10px;
    width:800px;
    padding:5px;
    margin:10px;
}
.container_xlr8{
     background: linear-gradient(
        135deg,
        rgba(0, 4, 40, 0.5),
        rgba(0, 102, 255, 0.5),
        rgba(0, 229, 255, 0.5)
    );
    border-radius: 10px;
    width:800px;
    padding:5px;
    margin:10px;
}
.container_cannonbolt{
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.5),
        rgba(58, 58, 58, 0.5),
        rgba(255, 204, 0, 0.5),
        rgba(255, 241, 118, 0.5)
    );
    border-radius: 10px;
    width:800px;
    padding:5px;
    margin:10px;
}
.bg_aliens{
    background-image: url("ben10.jpeg");
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.powers-link{
    text-decoration: none;
    color: inherent;
}
.coming_soon{
    text-align: center;
    padding-top: 350px;
    padding-bottom: 350px;
}